PORT=
NODE_ENV=
DATABASE_URL=
JWT_SECRET_ACCESS_TOKEN=
JWT_SECRET_ACCESS_EXPIRES_IN=
JWT_SECRET_REFRESH_TOKEN=
JWT_SECRET_REFRESH_TOKEN_EXPIRES_IN=
CLIENT_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GOOGLE_CLIENT_ID=
SMTP_USER=
SMTP_PASS=
SMTP_FROM_NAME=
SMTP_FROM_EMAIL=
EMAIL_PROVIDER=
BREVO_API_KEY=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
